body {
  padding: 0;
  margin: 0;
  background: url(../assets/blue_land.png);
  overflow: hidden;
  overscroll-behavior: contain;
}
canvas {
  ////background: #222831;
  //background: url(../assets/blue_land.png);
  //box-shadow: inset 0px 0px 0px 5px #393e46;
}
.toolbar {
  height: 50px;
}
.wrap {
  text-align: center;
}
:-webkit-full-screen, :-moz-full-screen, :-ms-fullscreen, :fullscreen  {
  background: url(../assets/blue_land.png);
}