html, body {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  overscroll-behavior: contain;
  color: #fff;
  background: linear-gradient(-45deg, #03001e, #7303c0, #ec38bc) !important;
  background-size: 100% 100%;
}
.cover {
  position: absolute;
  background: linear-gradient(-45deg, #03001e, #7303c0, #ec38bc) !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  .content {
    position: relative;
    height: 100px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -50px;
    line-height: 100px;
    text-align: center;
    border-radius: 0;
    font-family: sans-serif;
    font-size: 30px;
    background: #00000052;
    color: #ffffff;
    font-weight: bold;
  }
}

canvas {
  //background: #000;
  //background: url(../assets/blue_land.png);
  //box-shadow: inset 0px 0px 0px 5px #393e46;
}

.toolbar {
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  .points {
    display: block;
    white-space: nowrap;
    float: left;
    .d {
      background: url(../assets/control/numbers.png);
      width: 30px;
      height: 30px;
      display: inline-block;
      background-size: 100%;
      margin-right: -15px;
      transition: all 0.5s ease;
      &.p-1 {
        background-position-y: -30px;
      }
      &.p-2 {
        background-position-y: -60px;
      }
      &.p-3 {
        background-position-y: -90px;
      }
      &.p-4 {
        background-position-y: -120px;
      }
      &.p-5 {
        background-position-y: -150px;
      }
      &.p-6 {
        background-position-y: -180px;
      }
      &.p-7 {
        background-position-y: -210px;
      }
      &.p-8 {
        background-position-y: -240px;
      }
      &.p-9 {
        background-position-y: -270px;
      }
      &.p-0 {
        background-position-y: 0;
      }
    }
  }
  .full-screen-toggle {
    margin-left: 10px;
    float: right;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../assets/control/larger.png);
    background-size: 100% 100%;
    border: 1px solid #fff;
    margin-top: 3px;
    margin-right: 3px;
    border-radius: 3px;
  }
  .pause {
    float: right;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../assets/control/pause.png);
    background-size: 100% 100%;
    border: 1px solid #fff;
    margin-top: 3px;
    border-radius: 3px;
  }
}
.wrap {
  text-align: center;
}

:-webkit-full-screen, :-moz-full-screen, :-ms-fullscreen, :fullscreen  {
  background: url(../assets/colored_land.png);
}