body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  overscroll-behavior: contain;
  color: #fff;
  background: linear-gradient(-45deg, #03001e, #7303c0, #ec38bc);
  background-size: 300% 300%;
  -webkit-animation: Gradient 30s ease infinite;
  -moz-animation: Gradient 30s ease infinite;
  animation: Gradient 30s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

canvas {
  //background: #000;
  //background: url(../assets/blue_land.png);
  //box-shadow: inset 0px 0px 0px 5px #393e46;
}

.toolbar {
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  .points {
    display: block;
    white-space: nowrap;
    float: left;
    .d {
      background: url(../assets/control/numbers.png);
      width: 30px;
      height: 30px;
      display: inline-block;
      background-size: 100%;
      margin-right: -15px;
      transition: all 0.5s ease;
      &.p-1 {
        background-position-y: -30px;
      }
      &.p-2 {
        background-position-y: -60px;
      }
      &.p-3 {
        background-position-y: -90px;
      }
      &.p-4 {
        background-position-y: -120px;
      }
      &.p-5 {
        background-position-y: -150px;
      }
      &.p-6 {
        background-position-y: -180px;
      }
      &.p-7 {
        background-position-y: -210px;
      }
      &.p-8 {
        background-position-y: -240px;
      }
      &.p-9 {
        background-position-y: -270px;
      }
      &.p-0 {
        background-position-y: 0;
      }
    }
  }
  .full-screen-toggle {
    margin-left: 10px;
    float: right;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../assets/control/larger.png);
    background-size: 100% 100%;
    &.active {
      background: url(../assets/control/smaller.png);
      background-size: 100% 100%;
    }
  }
  .pause {
    float: right;
  }
}
.wrap {
  text-align: center;
}
.footer {
  height: 30px;
}
:-webkit-full-screen, :-moz-full-screen, :-ms-fullscreen, :fullscreen  {
  background: url(../assets/colored_land.png);
}